<div>
  <div>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
           
            <div class="navbar-header">
              <a class="navbar-brand" routerLink="/">General Shop</a>
            </div>

              <ul class="nav navbar-nav">
                <li routerLinkActive="active" >
                  <a routerLink="/main">Shop</a>
                </li>
                <li routerLinkActive="active" >
                  <a routerLink="/about">About</a>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active" *ngIf="this.authService.isAdmin()">
                  <a routerLink="/admin">Admin</a>
                </li>
                <li routerLinkActive="active">
                 <a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>
                  <span *ngIf="!this.authService.isLoggedIn()">Log In</span>
                  <span *ngIf="this.authService.isLoggedIn()">Log Out</span>
                  
                  </a>
                </li>
              </ul>
            

          </div>
      </nav>

      <div class="container">
        <router-outlet></router-outlet>
      </div>
  </div>

</div>
